[submodule "eye_tracking/analysis/lib/pupil"]
	path = eye_tracking/analysis/lib/pupil
	url = http://github.com/behinger/pupil
[submodule "eye_tracking/analysis/lib/nslr-hmm"]
	path = eye_tracking/analysis/lib/nslr-hmm
	url = https://gitlab.com/nslr/nslr-hmm/

