/eye_tracking/analysis/log_files/*
/eye_tracking/preprocessing/local/*
/eye_tracking/preprocessing/cache/*
/eye_tracking/recording/matlab/*.log
*.pyc
*.pyo
.vscode/
eye_tracking/analysis/.DS_Store

eye_tracking/analysis/code/debug/cysignals_crash_logs/
.idea/*
/temp_venv/
.ipynb_checkpoints