[submodule "eye_tracking/analysis/lib/pupil"]
	path = eye_tracking/analysis/lib/pupil
	url = http://github.com/behinger/pupil
[submodule "eye_tracking/analysis/lib/nslr-hmm"]
	path = eye_tracking/analysis/lib/nslr-hmm
	url = https://gitlab.com/nslr/nslr-hmm/

[submodule "eye_tracking/analysis/lib/pupil_new"]
	path = eye_tracking/analysis/lib/pupil_new
	url = https://github.com/pupil-labs/pupil
	ignore = dirty

[submodule "libuvc"]
	path = libuvc
	url = https://github.com/pupil-labs/libuvc
[submodule "eye_tracking/analysis/lib/pyuvc"]
	path = eye_tracking/analysis/lib/pyuvc
	url = https://github.com/pupil-labs/pyuvc
